/*-- scss:defaults --*/

$font-family-sans-serif: "Source Sans Pro", sans-serif;
$font-family-monospace: "Fira Code", monospace;
$link-color: #60a5fa;

/*-- scss:rules --*/

div.sourceCode {
  border-radius: 6px;
  border: 1px solid #374151;
}
